<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recepten</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="jumbotron"><h1>Alle recepten</h1></div>
    <br /><br />
    <div class="container">
        <div class="row">
            
    <% for(var i=0; i < recepten.length; i++) {%>
      <div class="col-4">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Naam : </b><%= recepten[i].naam %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Caloriën : </b><%= recepten[i].caloriën %></h6>
            <p class="card-text">Ingrediënten : </b><%= recepten[i].ingrediënten %></p>
            <p class="card-text">Benodigde tijd : </b><%= recepten[i].benodigde_tijd %></p>
            <form action='/delete' method='POST'>
              <span><input type='hidden' name='naam' value='<%=products[i].naam%>'></span>
              <span><button class="btn btn-danger" type='submit'>Delete</button></span>
            </form>
          </div>
        </div>
      </div>
    <% } %></div></div> <br />
    <a class="btn btn-secondary" href="/add" role="button">Add recept</a>
    &nbsp;&nbsp;
    <a class="btn btn-secondary" href="/search" role="button">Search recept</a>
  </body>
</html>
